@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background-color: beige;
}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.nav-link{
    color:black;
}

.breadcrumb{

    display: flex;
    -ms-flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: beige;
    border-radius: .75rem;
    padding-top: 100px;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: stretch;
    }
